<p style="color: green"><%= notice %></p>

<p>
  <%= render @post %>
</p>

<div>

  <% if current_user && current_user.id == @post.id %>
    <%= button_to "Edit this post", edit_post_path(@post), method: :get %>
    <%= button_to "Destroy this post", @post, method: :delete %>
  <% end %>
  </br>
  </br>
  <%= link_to "Back to posts", posts_path %>
</div>
