<p style="color: green"><%= notice %></p>

<p>
  <%= render @post %>
</p>

<div>

  <% if current_user && current_user.id == @post.id %>
    <div style="display: flex">
      <%= button_to "Edit this post", edit_post_path(@post), method: :get %>
      <span style="margin: 0 5px"></span>
      <%= button_to "Destroy this post", @post, method: :delete %>
    </div>
  <% end %>
  </br>
  </br>
  <%= link_to "Back to posts", posts_path %>
</div>
